@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.customCard{
    background-color: hsl(216, 50%, 16%);
    &__title{
        font-weight: 600;
        font-size: 1.6rem;
        color: hsl(0, 0%, 100%); 
    }
    &__subtitle{
        font-weight: 300;
        font-size: 1.3rem;
        color: hsl(215, 51%, 70%);
    }
    .price{
        span{
            color: hsl(178, 100%, 50%);
        }
    }
    .time{
        span{
            color: hsl(215, 51%, 70%);
        }
    }
    .line{
        width: 100%;
        height: 2px;
        border-bottom: 1px solid hsl(215, 51%, 70%);
    }
    .author{
        img{
            width: 40px;
        }
        span{
            color: hsl(215, 51%, 70%);
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

